# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Log files
*.log
*.status

#Executables
mash
mashmap
mashcgi

#Others
autoParam
Makefile
configure
*.cache
